// Here you can add other styles
.page-container {
  margin-top: 100px;
}
.spacing {
  margin-bottom: 15px;
}
.action {
  cursor: pointer;
}
.custom-badge {
  margin-right: 5px;
  margin-bottom: 2px;
  display: inline-block;
  // height: 20px;
  // line-height: 15px;
  a {
    i {
      color: orangered;
    }
  }
}
.left-margin {
  margin-left: 5px;
}
